<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Lemon_App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <Lemon_App.Properties.Settings>
            <setting name="SearchUrl" serializeAs="String">
                <value>https://www.baidu.com/s?tn=mswin_oem_dg&amp;ie=utf-16&amp;word=%2a</value>
            </setting>
            <setting name="RobotName" serializeAs="String">
                <value>LemonUser</value>
            </setting>
            <setting name="WeatherInfo" serializeAs="String">
                <value>北京</value>
            </setting>
            <setting name="Qianmin" serializeAs="String">
                <value>个人签名</value>
            </setting>
            <setting name="RNBM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MusicList" serializeAs="String">
                <value>{"List":[]}</value>
            </setting>
            <setting name="WebProxyUri" serializeAs="String">
                <value />
            </setting>
            <setting name="WebProxyUser" serializeAs="String">
                <value />
            </setting>
            <setting name="WebProxyPassWord" serializeAs="String">
                <value />
            </setting>
            <setting name="isWebProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Hatop" serializeAs="String">
                <value>0,0,0,0</value>
            </setting>
            <setting name="UserImage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZJid" serializeAs="String">
                <value>2591355982</value>
            </setting>
            <setting name="LemonAreeunIts" serializeAs="String">
                <value>你的邮箱</value>
            </setting>
            <setting name="sx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="title" serializeAs="String">
                <value>么么哒</value>
            </setting>
        </Lemon_App.Properties.Settings>
    </userSettings>
</configuration>
